[Desktop Entry]
Version=1.5
Type=Application

Name=Globulation 2
Comment=Free and Open Source real time strategy game with a new take on micro-management
Categories=Game;StrategyGame;

Icon=org.globulation2.Globulation2
Exec=glob2
Terminal=false
